body{
    background-size: cover;
}
#logout_btn{
    font-size: 20px;
    float: right;
}
#h1tag{
    padding-top: 5%;
    font-weight: 900;
    font-style: oblique;
    background-color: beige;
    
}
.input_div_message_page {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: rgba(163, 247, 155, 0.8);
    padding-bottom: 2%;
}

#output {
	padding: 10px;
	width: 80%;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
}